*~
*.swp
*.mov
*.mp4
*.mjpeg
.DS_Store

liveChareau.zip

*.xcuserstate

liveChareau/bin/liveChareau.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/English.lproj/GLUTPreferences.nib/objects.nib
liveChareau/bin/liveChareau.app
liveChareau/bin/liveChareauDebug.app/Contents/Info.plist
liveChareau/bin/liveChareauDebug.app

doubleChareau/doubleChareau.xcodeproj

liveChareau/liveChareau.xcodeproj
